<ion-header>
  <ion-toolbar>
    <ion-title>Demo</ion-title>
  </ion-toolbar>

  
  
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Plugins</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let plugin of plugins" button [routerLink]="[plugin.url]">
      <ion-label>{{ plugin.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
